<!doctype html>
<html>

	<head>
		
		<title>Pagina al momento non disponibile</title>

		<link href="style.css" type="text/css" rel="stylesheet" />

	</head>


	<body>

		<h1>Pagina al momento non disponibile</h1>
		<p>Cortesemente, riprovare più tardi. <a href="#">Aggiorna</a>.</p>

	</body>
</html>